# gitignore file for LaTex folders.
*.log
*.out
*.aux
*.synctex.gz
*.fls
*.fdb_latexmk
*.csv
./.vscode/*
./.vscode/.*
./.vscode/*.*
./data/*
./data/*.*
*.code-workspace
hr_*.json
sleep_*.json
steps_*.json
.fitbit-env
.fitbit-env/*
.fitbit-env/*.*

